*{
    margin: 0;
    padding: 0;
}


.panel {
    font-size: 12px;
    height: 54px;
    background-color:  black;
    z-index: 100;
    line-height: 54px;
    margin-bottom: 1px;
}

.logo-theme{
    display: inline-block;
    position: absolute;
    top: 18px;
    text-indent: -9999px;
    height: 18px;
    width: 152px;
    background: url(https://public-assets.envato-static.com/assets/logos/envato_market-a5ace93f8482e885ae008eb481b9451d379599dfed24868e52b6b2d66f5cf633.svg);
    background-size: 152px 18px;
}


